.container {
    max-width: 1200px;
    min-height: 60px;
    background-color: #cfcff3;
    margin: 20px auto;
}

.header__text {
   text-align: center;
   font-size: calc(22px + (44 - 22) * ((100vw - 320px) / (1200 - 320)));
}

.flex {
    display: flex !important;
}

.list-group {
    margin-bottom: 2rem;
    counter-reset: list1 !important;
    padding-bottom: 20px !important;
}

.list-group-item:before{
    counter-increment: list1 !important; /* Увеличиваем значение счетчика */
    content: counter(list1) ". " !important; /* Выводим число */
}

.text__article {
    font-size: calc(16px + (32 - 16) * ((100vw - 320px) / (1200 - 320)));
    margin-bottom: 20px;
}

.nav {
    justify-content: center;
}

li::before {
    content: none !important;
}

.pagination {
    flex-wrap: wrap;
}

.text__article {
    font-weight: 400;
    text-align: justify;
}

.textComment__container {
    margin-bottom: 20px;
}

.email {
    font-weight: 400;
}




